.customer-segment{
	margin-top: 3% !important;
	margin-left: 7% !important;
	margin-right: 7% !important;
	margin-bottom: 5% !important
}

.customer-input-name{
	margin-bottom: 2% !important;
}

.customer-input-country{
 	margin-bottom: 3% !important;
}

.customer-input-email{
	margin-left: 1% !important;
	margin-bottom: 2.5% !important;

}

.customer-input-email2{
	margin-left:5% !important;
}

b{
	padding-left: 0.25%;
}

@media only screen and (max-width: 450px){
	.customer-input-name{
		margin-bottom: 5% !important;
	}

	.customer-input-country{
 		margin-bottom: 5% !important;
	}

	.customer-input-email{
		width: 100% !important;
		margin-left: 0% !important;
		margin-bottom: 1% !important;
	}

	.customer-input-email2{
		margin-left: 0% !important;
		margin-bottom: 5% !important;
	}
}