.user-div{
	margin-top: 5%;
}

.password-div{
	margin-top: 3%;
	margin-bottom: 5%;
}

.login-user-input{
	margin-right: 10% !important;
	margin-left: 10% !important;
}

.login-password-input{
	margin-right: 10% !important;
	margin-left: 10% !important;	
}

.login-submit-button{
	align-content: center;
	text-align: center;
	width: 12% !important;
	margin-left: 44% !important;
}

h3{
	margin-left: 10% !important;
	margin-bottom: 1% !important;
}

@media only screen and (max-width: 450px){
	.login-submit-button{
		width: 50% !important;
		margin-left: 25% !important;
	}
}