.requirements-button{
	width: 15% !important;
	margin-left: 42.5% !important;
	margin-bottom: 5% !important;
}

.requirements-warning-message{
	margin-left: 10% !important;
	margin-right: 10% !important;
	margin-bottom: 5% !important;
}

.product-segment{
	margin-top: 3% !important;
	margin-left: 20% !important;
	margin-right: 20% !important;
	margin-bottom: 5% !important
}

.product-submit-button{
	width: 70% !important;
}

.product-reset-button{
	
}

.confirmation-capex-message{
	margin-top: 5% !important;
	margin-left: 20% !important;
	width: 80% !important;
}

.confirmation-monthlyfee-message{
	margin-top: 5% !important;
	width: 80% !important;
}

.confirmation-submit-button{
	margin-left: 27.5% !important;
	width: 30% !important;
}

.confirmation-back-button{
	width: 15% !important;
}

@media only screen and (max-width: 450px){
	.product-submit-button{
		width: 100% !important;
		margin-bottom: 5% !important;
	}
	.product-reset-button{
		width: 100% !important;
	}
	.requirements-button{
		width: 50% !important;
		margin-left: 25% !important;
	}
	.confirmation-submit-button{
		width:60% !important;
		margin-left: 20% !important;
	}
	.confirmation-back-button{
		width: 30% !important;
		margin-top: 5% !important;
		margin-left: 35% !important;
		margin-bottom: 5% !important;
	}
}