.requirements-input-product {
	margin-left: 1% !important;
	width: 50% !important;
}

.requirements-input-purity {
	margin-left: 1% !important;
}

.requirements-input-time {
	margin-left: 1% !important;
}

.div-product {
	margin-bottom: 4% !important;
}

.div-purity {
	margin-bottom: 4% !important;
}